/* Use the CSS file to spot if any of your content is NOT contained within at least
   one landmark role. Any content on a white background is not in a landmark role.

   This can be an issue if screen reader users are using landmarks to help them 
   find their way around a page. */


/* find key HTML5 elements */
header, footer, main, nav, 
/* If sections or forms have a label then they are a landmark */
section[aria-labelledby],section[aria-label],
form[aria-labelledby],form[aria-label],
/* Find and element with the landmark role attribute */
[role="banner"], [role="search"], [role="form"], [role="navigation"], [role="main"], 
[role="contentinfo"], [role="complementary"], 
/* If a region has a label then it's a landmark */
[role="region"][aria-label], [role="region"][aria-labelledby] {
   background-color: rgba(255,0,0,0.1);
   outline:2px solid #ff0000;
   color:#000;
}

/* 'Unselect' header and footer elements that are contained in other landmarks.
  These are not considered landmarks. */
main header, article header, aside header, nav header, section header,
main footer, article footer, aside footer, nav footer, section footer {
   background-color: transparent;
   outline:none;
}
